.popup__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 48px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border: unset;
    border-radius: 2px;
    transition:
        visibility 0s,
        background 0.3s;
}

.popup__button:not(.popup__button_disabled):hover {
    cursor: pointer;
    background: rgb(0 0 0 / 80%);
}

@media screen and (max-width: 568px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__button::before,
.popup__button::after {
    display: none;
    pointer-events: none;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.popup__button::before {
    font: inherit;
    font-size: 18px;
    color: inherit;
    content: 'Сохранение';
}

.popup__button::after {
    width: 20px;
    height: 20px;
    content: '';
    background: url('../../../images/loader.svg') center center / cover no-repeat;
}

.popup__button.is-loading {
    font-size: 0;
    pointer-events: none;
}

.popup__button.is-loading::before,
.popup__button.is-loading::after {
    display: block;
}
