{
    "parser": "@babel/eslint-parser",
    "root": true,
    "ignorePatterns": ["temp.js", "**/vendor/*.js"],
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:import/recommended",
        "plugin:perfectionist/recommended-natural"
    ],
    "plugins": ["perfectionist", "prettier", "pug"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "requireConfigFile": false,
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "rules": {
        "no-debugger": "off",
        "no-console": "off",
        "class-methods-use-this": "off",
        "no-unused-vars": "warn",
        "no-param-reassign": ["error", { "props": false }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "prettier/prettier": "error",
        "import/no-cycle": "off",
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/extensions": ["error", "always", { "ignorePackages": true }],
        "import/no-unresolved": [
            "error",
            { "ignore": ["\\.png$", "\\.svg$", "\\.jpg$", "\\.jpeg$", "\\.webp$", "\\.avif$", "\\.gif$", "\\.ico$"] }
        ],
        "perfectionist/sort-array-includes": ["error", { "spread-last": true }],
        "perfectionist/sort-classes": ["error", {}],
        "perfectionist/sort-imports": [
            "error",
            {
                "groups": [
                    "type",
                    ["builtin", "external"],
                    "internal-type",
                    "internal",
                    ["parent-type", "sibling-type", "index-type"],
                    ["parent", "sibling", "index"],
                    "object",
                    "unknown"
                ],
                "newlines-between": "always"
            }
        ],
        "perfectionist/sort-jsx-props": ["error", { "groups": ["unknown", "shorthand", "multiline"] }],
        "perfectionist/sort-objects": ["error", {}]
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": "./jsconfig.json"
            }
        }
    }
}
