@import './__description/card__description.css';
@import './__image/card__image.css';
@import './__like-button/card__like-button.css';
@import './__like-button/_is-active/card__like-button_is-active.css';
@import './__delete-button/card__delete-button.css';
@import './__title/card__title.css';

.card {
    position: relative;
    overflow: hidden;
    font-family: Inter, Arial, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
