@import './__content/popup__content.css';
@import './__content/_content/popup__content_content_image.css';
@import './__close/popup__close.css';
@import './__title/popup__title.css';
@import './__form/popup__form.css';
@import './__input/popup__input.css';
@import './__input-error/popup__input-error.css';
@import './__button/popup__button.css';
@import './__button/_disabled/popup__button_disabled.css';
@import './__caption/popup__caption.css';
@import './__image/popup__image.css';

.popup {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Inter, Arial, sans-serif;
    background-color: rgb(0 0 0 / 50%);
}
